In [1]:
# Import the numpy and pandas packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [2]:
#write your code here
movies = pd.read_csv('IMDB_Movies.csv')
OrgData = movies
movies

      color      director_name  ...  aspect_ratio  movie_facebook_likes
0     Color      James Cameron  ...          1.78                 33000
1     Color     Gore Verbinski  ...          2.35                     0
2     Color         Sam Mendes  ...          2.35                 85000
3     Color  Christopher Nolan  ...          2.35                164000
4       NaN        Doug Walker  ...           NaN                     0
...     ...                ...  ...           ...                   ...
5038  Color        Scott Smith  ...           NaN                    84
5039  Color                NaN  ...         16.00                 32000
5040  Color   Benjamin Roberds  ...           NaN                    16
5041  Color        Daniel Hsia  ...          2.35                   660
5042  Color           Jon Gunn  ...          1.85                   456

[5043 rows x 28 columns]

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [3]:
#write your code here
movies.shape

(5043, 28)

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5023 non-null   object
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(12), int64(3), object(13)
memory usage: 1.1+ MB

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [5]:
# Write your code for column-wise null count here
movies.isnull().sum(axis=0).sort_values(ascending=False)

gross                        884
budget                       492
aspect_ratio                 329
content_rating               303
plot_keywords                153
title_year                   108
director_name                104
director_facebook_likes      104
num_critic_for_reviews        50
actor_3_name                  23
actor_3_facebook_likes        23
num_user_for_reviews          20
color                         19
duration                      15
facenumber_in_poster          13
actor_2_name                  13
actor_2_facebook_likes        13
language                      12
actor_1_name                   7
actor_1_facebook_likes         7
country                        5
movie_facebook_likes           0
genres                         0
movie_title                    0
num_voted_users                0
movie_imdb_link                0
imdb_score                     0
cast_total_facebook_likes      0
dtype: int64

In [6]:
# Write your code for row-wise null count here
movies.isnull().sum(axis=1).sort_values(ascending=False)

279     15
4       13
4945    11
2241    11
2342    10
        ..
2708     0
2707     0
2706     0
2705     0
0        0
Length: 5043, dtype: int64

In [7]:
# Write your code for column-wise null percentages here
movies.isnull().sum(axis=0).sort_values(ascending=False)/len(movies) * 100

gross                        17.529248
budget                        9.756098
aspect_ratio                  6.523895
content_rating                6.008328
plot_keywords                 3.033908
title_year                    2.141582
director_name                 2.062265
director_facebook_likes       2.062265
num_critic_for_reviews        0.991473
actor_3_name                  0.456078
actor_3_facebook_likes        0.456078
num_user_for_reviews          0.396589
color                         0.376760
duration                      0.297442
facenumber_in_poster          0.257783
actor_2_name                  0.257783
actor_2_facebook_likes        0.257783
language                      0.237954
actor_1_name                  0.138806
actor_1_facebook_likes        0.138806
country                       0.099147
movie_facebook_likes          0.000000
genres                        0.000000
movie_title                   0.000000
num_voted_users               0.000000
movie_imdb_link               0.000000
imdb_score                    0.000000
cast_total_facebook_likes     0.000000
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [8]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of opera
movies = movies.drop([
    
    'color',
    'director_facebook_likes',
    'actor_1_facebook_likes',
    'actor_2_facebook_likes',
    'actor_3_facebook_likes',
    'actor_2_name',
    'cast_total_facebook_likes',
    'actor_3_name',
    'duration',
    'facenumber_in_poster',
    'content_rating',
    'country',
    'movie_imdb_link',
    'aspect_ratio',
    'plot_keywords'],axis=1)

In [9]:
movies

          director_name  ...  movie_facebook_likes
0         James Cameron  ...                 33000
1        Gore Verbinski  ...                     0
2            Sam Mendes  ...                 85000
3     Christopher Nolan  ...                164000
4           Doug Walker  ...                     0
...                 ...  ...                   ...
5038        Scott Smith  ...                    84
5039                NaN  ...                 32000
5040   Benjamin Roberds  ...                    16
5041        Daniel Hsia  ...                   660
5042           Jon Gunn  ...                   456

[5043 rows x 13 columns]

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [10]:
# Write your code for dropping the rows here
round(movies.isnull().sum().sort_values(ascending=False)/len(movies)*100,2)

gross                     17.53
budget                     9.76
title_year                 2.14
director_name              2.06
num_critic_for_reviews     0.99
num_user_for_reviews       0.40
language                   0.24
actor_1_name               0.14
movie_facebook_likes       0.00
imdb_score                 0.00
num_voted_users            0.00
movie_title                0.00
genres                     0.00
dtype: float64

In [11]:
movies = movies[movies['gross'].notnull()]
movies = movies[movies['budget'].notnull()]

In [12]:
round(movies.isnull().sum().sort_values(ascending=False)/len(movies)*100,2)

language                  0.08
actor_1_name              0.08
num_critic_for_reviews    0.03
movie_facebook_likes      0.00
imdb_score                0.00
title_year                0.00
budget                    0.00
num_user_for_reviews      0.00
num_voted_users           0.00
movie_title               0.00
genres                    0.00
gross                     0.00
director_name             0.00
dtype: float64

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [13]:
# Write your code for dropping the rows here
(movies.isnull().sum(axis=1).sort_values(ascending=False) > 5).sum()

0

In [14]:
movies = movies[movies.isnull().sum(axis=1).sort_values(ascending=False) <= 5]
movies

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

          director_name  ...  movie_facebook_likes
0         James Cameron  ...                 33000
1        Gore Verbinski  ...                     0
2            Sam Mendes  ...                 85000
3     Christopher Nolan  ...                164000
5        Andrew Stanton  ...                 24000
...                 ...  ...                   ...
5033      Shane Carruth  ...                 19000
5034   Neill Dela Llana  ...                    74
5035   Robert Rodriguez  ...                     0
5037       Edward Burns  ...                   413
5042           Jon Gunn  ...                   456

[3891 rows x 13 columns]

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [15]:
# Write your code here
round(movies.isnull().sum().sort_values(ascending=False)/len(movies)*100,2)

language                  0.08
actor_1_name              0.08
num_critic_for_reviews    0.03
movie_facebook_likes      0.00
imdb_score                0.00
title_year                0.00
budget                    0.00
num_user_for_reviews      0.00
num_voted_users           0.00
movie_title               0.00
genres                    0.00
gross                     0.00
director_name             0.00
dtype: float64

In [16]:
movies.groupby('language').language.count().sort_values(ascending=False)

language
English       3707
French          37
Spanish         26
Mandarin        15
German          13
Japanese        12
Hindi           10
Cantonese        8
Italian          7
Korean           5
Portuguese       5
Norwegian        4
Hebrew           3
Persian          3
Dutch            3
Danish           3
Thai             3
Dari             2
Indonesian       2
Aboriginal       2
Icelandic        1
Hungarian        1
Arabic           1
Aramaic          1
Bosnian          1
Telugu           1
Czech            1
Swedish          1
Russian          1
Romanian         1
Dzongkha         1
None             1
Filipino         1
Mongolian        1
Maya             1
Kazakh           1
Vietnamese       1
Zulu             1
Name: language, dtype: int64

In [17]:
movies.language.describe()

count        3888
unique         38
top       English
freq         3707
Name: language, dtype: object

In [18]:
movies.language = movies.language.fillna('English')

In [19]:
round(movies.isnull().sum().sort_values(ascending=False)/len(movies)*100,2)

actor_1_name              0.08
num_critic_for_reviews    0.03
movie_facebook_likes      0.00
imdb_score                0.00
title_year                0.00
budget                    0.00
language                  0.00
num_user_for_reviews      0.00
num_voted_users           0.00
movie_title               0.00
genres                    0.00
gross                     0.00
director_name             0.00
dtype: float64

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [20]:
# Write your code for checking number of retained rows here
len(movies)/len(OrgData) * 100

77.15645449137418

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis
-  ### Subtask 3.1: Change the unit of columns
Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [21]:
# Write your code for unit conversion here
movies['budget'] = movies['budget']/1000000
movies['gross'] = movies['gross']/1000000

In [22]:
movies

          director_name  ...  movie_facebook_likes
0         James Cameron  ...                 33000
1        Gore Verbinski  ...                     0
2            Sam Mendes  ...                 85000
3     Christopher Nolan  ...                164000
5        Andrew Stanton  ...                 24000
...                 ...  ...                   ...
5033      Shane Carruth  ...                 19000
5034   Neill Dela Llana  ...                    74
5035   Robert Rodriguez  ...                     0
5037       Edward Burns  ...                   413
5042           Jon Gunn  ...                   456

[3891 rows x 13 columns]

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [23]:
# Write your code for creating the profit column here
movies['profit'] = movies['gross'] - movies['budget']
movies

          director_name  ...      profit
0         James Cameron  ...  523.505847
1        Gore Verbinski  ...    9.404152
2            Sam Mendes  ...  -44.925825
3     Christopher Nolan  ...  198.130642
5        Andrew Stanton  ... -190.641321
...                 ...  ...         ...
5033      Shane Carruth  ...    0.417760
5034   Neill Dela Llana  ...    0.063071
5035   Robert Rodriguez  ...    2.033920
5037       Edward Burns  ...   -0.004416
5042           Jon Gunn  ...    0.084122

[3891 rows x 14 columns]

In [24]:
# Write your code for sorting the dataframe here
movies.sort_values(by='profit',ascending=False)

         director_name  ...        profit
0        James Cameron  ...    523.505847
29     Colin Trevorrow  ...    502.177271
26       James Cameron  ...    458.672302
3024      George Lucas  ...    449.935665
3080  Steven Spielberg  ...    424.449459
...                ...  ...           ...
2334   Katsuhiro Ôtomo  ...  -2127.109510
2323    Hayao Miyazaki  ...  -2397.701809
3005      Lajos Koltai  ...  -2499.804112
3859    Chan-wook Park  ...  -4199.788333
2988      Joon-ho Bong  ... -12213.298588

[3891 rows x 14 columns]

In [25]:
# Write your code for top10 movies
top10 = movies.sort_values(by='profit',ascending=False).head(10)
top10

          director_name  ...      profit
0         James Cameron  ...  523.505847
29      Colin Trevorrow  ...  502.177271
26        James Cameron  ...  458.672302
3024       George Lucas  ...  449.935665
3080   Steven Spielberg  ...  424.449459
794         Joss Whedon  ...  403.279547
17          Joss Whedon  ...  403.279547
509        Roger Allers  ...  377.783777
240        George Lucas  ...  359.544677
66    Christopher Nolan  ...  348.316061

[10 rows x 14 columns]

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [26]:
# Write your code for dropping duplicate values here
movies.drop_duplicates(keep='first',inplace=True)

In [27]:
# Write code for repeating subtask 2 here
movies

          director_name  ...      profit
0         James Cameron  ...  523.505847
1        Gore Verbinski  ...    9.404152
2            Sam Mendes  ...  -44.925825
3     Christopher Nolan  ...  198.130642
5        Andrew Stanton  ... -190.641321
...                 ...  ...         ...
5033      Shane Carruth  ...    0.417760
5034   Neill Dela Llana  ...    0.063071
5035   Robert Rodriguez  ...    2.033920
5037       Edward Burns  ...   -0.004416
5042           Jon Gunn  ...    0.084122

[3856 rows x 14 columns]

In [28]:
top10 = movies.sort_values(by='profit',ascending=False).head(10)
top10

          director_name  ...      profit
0         James Cameron  ...  523.505847
29      Colin Trevorrow  ...  502.177271
26        James Cameron  ...  458.672302
3024       George Lucas  ...  449.935665
3080   Steven Spielberg  ...  424.449459
17          Joss Whedon  ...  403.279547
509        Roger Allers  ...  377.783777
240        George Lucas  ...  359.544677
66    Christopher Nolan  ...  348.316061
439           Gary Ross  ...  329.999255

[10 rows x 14 columns]

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [29]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
IMDb_Top_250 = movies[movies['num_voted_users'] > 25000].sort_values(by='imdb_score',ascending=False).head(250)
IMDb_Top_250

             director_name  ...      profit
1937        Frank Darabont  ...    3.341469
3466  Francis Ford Coppola  ...  128.821952
2837  Francis Ford Coppola  ...   44.300000
66       Christopher Nolan  ...  348.316061
4498          Sergio Leone  ...    4.900000
...                    ...  ...         ...
4931           John Carney  ...    9.257933
2605               Ang Lee  ...  113.067808
3029      David O. Russell  ...   68.571803
2177            Tim Burton  ...   36.362352
2487          George Cukor  ...   55.000000

[250 rows x 14 columns]

In [30]:
IMDb_Top_250['Rank'] = IMDb_Top_250['imdb_score'].rank(method='first',ascending=False)
IMDb_Top_250

             director_name  num_critic_for_reviews  ...      profit   Rank
1937        Frank Darabont                   199.0  ...    3.341469    1.0
3466  Francis Ford Coppola                   208.0  ...  128.821952    2.0
2837  Francis Ford Coppola                   149.0  ...   44.300000    3.0
66       Christopher Nolan                   645.0  ...  348.316061    4.0
4498          Sergio Leone                   181.0  ...    4.900000    5.0
...                    ...                     ...  ...         ...    ...
4931           John Carney                   232.0  ...    9.257933  246.0
2605               Ang Lee                   287.0  ...  113.067808  247.0
3029      David O. Russell                   410.0  ...   68.571803  248.0
2177            Tim Burton                   111.0  ...   36.362352  249.0
2487          George Cukor                    82.0  ...   55.000000  250.0

[250 rows x 15 columns]

In [31]:
IMDb_Top_250[IMDb_Top_250['language']!='English']

                         director_name  ...   Rank
4498                      Sergio Leone  ...    5.0
4747                    Akira Kurosawa  ...   17.0
4029                Fernando Meirelles  ...   20.0
2373                    Hayao Miyazaki  ...   23.0
4259  Florian Henckel von Donnersmarck  ...   35.0
4921                      Majid Majidi  ...   39.0
2323                    Hayao Miyazaki  ...   47.0
2970                 Wolfgang Petersen  ...   49.0
4105                    Chan-wook Park  ...   57.0
4659                    Asghar Farhadi  ...   58.0
1329                    S.S. Rajamouli  ...   59.0
1298                Jean-Pierre Jeunet  ...   61.0
2734                        Fritz Lang  ...   65.0
4033                 Thomas Vinterberg  ...   73.0
2829               Oliver Hirschbiegel  ...   81.0
2551                Guillermo del Toro  ...   86.0
4000              Juan José Campanella  ...   97.0
3550                  Denis Villeneuve  ...   98.0
2047                    Hayao Miyazaki  ...  100.0
2830                Alejandro Amenábar  ...  110.0
2914                       Je-kyu Kang  ...  119.0
4461                 Thomas Vinterberg  ...  127.0
3553                      José Padilha  ...  143.0
3423                   Katsuhiro Ôtomo  ...  147.0
4267             Alejandro G. Iñárritu  ...  152.0
3456                 Vincent Paronnaud  ...  166.0
3344                       Karan Johar  ...  175.0
4144                     Walter Salles  ...  177.0
4284                        Ari Folman  ...  181.0
4897                      Sergio Leone  ...  183.0
1171                       Yimou Zhang  ...  212.0
2863                    Clint Eastwood  ...  226.0
3264                    Michael Haneke  ...  229.0
3510                       Yash Chopra  ...  233.0
3677              Christophe Barratier  ...  237.0
4415                  Fabián Bielinsky  ...  243.0
4640                   Cristian Mungiu  ...  244.0
2605                           Ang Lee  ...  247.0

[38 rows x 15 columns]

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [32]:
# Write your code for extracting the top 10 directors here
top10director = movies.groupby('director_name').imdb_score.mean().sort_values(ascending=False).head(10)
top10director

director_name
Charles Chaplin      8.600000
Tony Kaye            8.600000
Ron Fricke           8.500000
Damien Chazelle      8.500000
Majid Majidi         8.500000
Alfred Hitchcock     8.500000
Sergio Leone         8.433333
Christopher Nolan    8.425000
Asghar Farhadi       8.400000
Richard Marquand     8.400000
Name: imdb_score, dtype: float64

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [33]:
TempGenre = movies.genres.str.split('|',expand=True).iloc[:,0:2]
TempGenre.columns=['genre_1','genre_2']
TempGenre.genre_2.fillna(TempGenre.genre_1,inplace=True)
TempGenre

          genre_1      genre_2
0          Action    Adventure
1          Action    Adventure
2          Action    Adventure
3          Action     Thriller
5          Action    Adventure
...           ...          ...
5033        Drama       Sci-Fi
5034     Thriller     Thriller
5035       Action        Crime
5037       Comedy        Drama
5042  Documentary  Documentary

[3856 rows x 2 columns]

In [34]:
movies = pd.concat([movies,TempGenre],axis=1)
movies

          director_name  num_critic_for_reviews  ...      genre_1      genre_2
0         James Cameron                   723.0  ...       Action    Adventure
1        Gore Verbinski                   302.0  ...       Action    Adventure
2            Sam Mendes                   602.0  ...       Action    Adventure
3     Christopher Nolan                   813.0  ...       Action     Thriller
5        Andrew Stanton                   462.0  ...       Action    Adventure
...                 ...                     ...  ...          ...          ...
5033      Shane Carruth                   143.0  ...        Drama       Sci-Fi
5034   Neill Dela Llana                    35.0  ...     Thriller     Thriller
5035   Robert Rodriguez                    56.0  ...       Action        Crime
5037       Edward Burns                    14.0  ...       Comedy        Drama
5042           Jon Gunn                    43.0  ...  Documentary  Documentary

[3856 rows x 16 columns]

In [35]:
movies.groupby(['genre_1','genre_2']).gross.mean().sort_values(ascending=False).head(5)

genre_1    genre_2
Family     Sci-Fi       434.949459
Adventure  Sci-Fi       228.627758
           Family       118.919540
           Animation    116.998550
Action     Adventure    109.595465
Name: gross, dtype: float64

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [36]:
# Write your code for creating three new dataframes here
Meryl_Streep = movies[movies['actor_1_name']=='Meryl Streep']
Leo_Caprio = movies[movies['actor_1_name']=='Leonardo DiCaprio']
Brad_Pitt = movies[movies['actor_1_name']=='Brad Pitt']

In [37]:
Combined = Meryl_Streep.append([Leo_Caprio,Brad_Pitt])
Combined

              director_name  num_critic_for_reviews  ...    genre_1    genre_2
410            Nancy Meyers                   187.0  ...     Comedy      Drama
1106          Curtis Hanson                    42.0  ...     Action  Adventure
1204            Nora Ephron                   252.0  ...  Biography      Drama
1408          David Frankel                   208.0  ...     Comedy      Drama
1483         Robert Redford                   227.0  ...      Drama   Thriller
1575         Sydney Pollack                    66.0  ...  Biography      Drama
1618          David Frankel                   234.0  ...     Comedy      Drama
1674          Carl Franklin                    64.0  ...      Drama      Drama
1925         Stephen Daldry                   174.0  ...      Drama    Romance
2781         Phyllida Lloyd                   331.0  ...  Biography      Drama
3135          Robert Altman                   211.0  ...     Comedy      Drama
26            James Cameron                   315.0  ...      Drama    Romance
50             Baz Luhrmann                   490.0  ...      Drama    Romance
97        Christopher Nolan                   642.0  ...     Action  Adventure
179   Alejandro G. Iñárritu                   556.0  ...  Adventure      Drama
257         Martin Scorsese                   267.0  ...  Biography      Drama
296       Quentin Tarantino                   765.0  ...      Drama    Western
307            Edward Zwick                   166.0  ...  Adventure      Drama
308         Martin Scorsese                   606.0  ...  Biography     Comedy
326         Martin Scorsese                   233.0  ...      Crime      Drama
361         Martin Scorsese                   352.0  ...      Crime      Drama
452         Martin Scorsese                   490.0  ...    Mystery   Thriller
641            Ridley Scott                   238.0  ...     Action      Drama
911        Steven Spielberg                   194.0  ...  Biography      Crime
990             Danny Boyle                   118.0  ...  Adventure      Drama
1114             Sam Mendes                   323.0  ...      Drama    Romance
1422        Randall Wallace                    83.0  ...     Action  Adventure
1453         Clint Eastwood                   392.0  ...  Biography      Crime
1560              Sam Raimi                    63.0  ...     Action   Thriller
2067             Jerry Zaks                    45.0  ...      Drama      Drama
2757           Baz Luhrmann                   106.0  ...      Drama    Romance
3476           Baz Luhrmann                   490.0  ...      Drama    Romance
101           David Fincher                   362.0  ...      Drama    Fantasy
147       Wolfgang Petersen                   220.0  ...  Adventure  Adventure
254       Steven Soderbergh                   198.0  ...      Crime   Thriller
255              Doug Liman                   233.0  ...     Action     Comedy
382              Tony Scott                   142.0  ...     Action      Crime
400       Steven Soderbergh                   186.0  ...      Crime   Thriller
470              David Ayer                   406.0  ...     Action      Drama
611     Jean-Jacques Annaud                    76.0  ...  Adventure  Biography
683           David Fincher                   315.0  ...      Drama      Drama
792         Patrick Gilmore                    98.0  ...  Adventure  Animation
940             Neil Jordan                   120.0  ...      Drama    Fantasy
1490        Terrence Malick                   584.0  ...      Drama    Fantasy
1722         Andrew Dominik                   273.0  ...  Biography      Crime
2204  Alejandro G. Iñárritu                   285.0  ...      Drama      Drama
2333    Angelina Jolie Pitt                   131.0  ...      Drama    Romance
2682         Andrew Dominik                   414.0  ...      Crime   Thriller
2898             Tony Scott                   122.0  ...     Action      Crime

[49 rows x 16 columns]

In [38]:
Combined.groupby('actor_1_name').num_critic_for_reviews.mean()

actor_1_name
Brad Pitt            245.000000
Leonardo DiCaprio    330.190476
Meryl Streep         181.454545
Name: num_critic_for_reviews, dtype: float64

In [39]:
Combined

              director_name  num_critic_for_reviews  ...    genre_1    genre_2
410            Nancy Meyers                   187.0  ...     Comedy      Drama
1106          Curtis Hanson                    42.0  ...     Action  Adventure
1204            Nora Ephron                   252.0  ...  Biography      Drama
1408          David Frankel                   208.0  ...     Comedy      Drama
1483         Robert Redford                   227.0  ...      Drama   Thriller
1575         Sydney Pollack                    66.0  ...  Biography      Drama
1618          David Frankel                   234.0  ...     Comedy      Drama
1674          Carl Franklin                    64.0  ...      Drama      Drama
1925         Stephen Daldry                   174.0  ...      Drama    Romance
2781         Phyllida Lloyd                   331.0  ...  Biography      Drama
3135          Robert Altman                   211.0  ...     Comedy      Drama
26            James Cameron                   315.0  ...      Drama    Romance
50             Baz Luhrmann                   490.0  ...      Drama    Romance
97        Christopher Nolan                   642.0  ...     Action  Adventure
179   Alejandro G. Iñárritu                   556.0  ...  Adventure      Drama
257         Martin Scorsese                   267.0  ...  Biography      Drama
296       Quentin Tarantino                   765.0  ...      Drama    Western
307            Edward Zwick                   166.0  ...  Adventure      Drama
308         Martin Scorsese                   606.0  ...  Biography     Comedy
326         Martin Scorsese                   233.0  ...      Crime      Drama
361         Martin Scorsese                   352.0  ...      Crime      Drama
452         Martin Scorsese                   490.0  ...    Mystery   Thriller
641            Ridley Scott                   238.0  ...     Action      Drama
911        Steven Spielberg                   194.0  ...  Biography      Crime
990             Danny Boyle                   118.0  ...  Adventure      Drama
1114             Sam Mendes                   323.0  ...      Drama    Romance
1422        Randall Wallace                    83.0  ...     Action  Adventure
1453         Clint Eastwood                   392.0  ...  Biography      Crime
1560              Sam Raimi                    63.0  ...     Action   Thriller
2067             Jerry Zaks                    45.0  ...      Drama      Drama
2757           Baz Luhrmann                   106.0  ...      Drama    Romance
3476           Baz Luhrmann                   490.0  ...      Drama    Romance
101           David Fincher                   362.0  ...      Drama    Fantasy
147       Wolfgang Petersen                   220.0  ...  Adventure  Adventure
254       Steven Soderbergh                   198.0  ...      Crime   Thriller
255              Doug Liman                   233.0  ...     Action     Comedy
382              Tony Scott                   142.0  ...     Action      Crime
400       Steven Soderbergh                   186.0  ...      Crime   Thriller
470              David Ayer                   406.0  ...     Action      Drama
611     Jean-Jacques Annaud                    76.0  ...  Adventure  Biography
683           David Fincher                   315.0  ...      Drama      Drama
792         Patrick Gilmore                    98.0  ...  Adventure  Animation
940             Neil Jordan                   120.0  ...      Drama    Fantasy
1490        Terrence Malick                   584.0  ...      Drama    Fantasy
1722         Andrew Dominik                   273.0  ...  Biography      Crime
2204  Alejandro G. Iñárritu                   285.0  ...      Drama      Drama
2333    Angelina Jolie Pitt                   131.0  ...      Drama    Romance
2682         Andrew Dominik                   414.0  ...      Crime   Thriller
2898             Tony Scott                   122.0  ...     Action      Crime

[49 rows x 16 columns]

In [40]:
Combined.num_user_for_reviews = Combined.num_user_for_reviews.astype('int')
Combined.num_user_for_reviews

410      214
1106      69
1204     277
1408     631
1483     298
1575     200
1618     178
1674     112
1925     660
2781     350
3135     280
26      2528
50       753
97      2803
179     1188
257      799
296     1193
307      657
308     1138
326     1166
361     2054
452      964
641      263
911      667
990      548
1114     414
1422     244
1453     279
1560     216
2067      71
2757     506
3476     753
101      822
147     1694
254      627
255      798
382      361
400      845
470      701
611      119
683     2968
792       91
940      406
1490     975
1722     415
2204     908
2333      61
2682     369
2898     460
Name: num_user_for_reviews, dtype: int64

In [41]:
Combined.groupby('actor_1_name').num_user_for_reviews.mean()

actor_1_name
Brad Pitt            742.352941
Leonardo DiCaprio    914.476190
Meryl Streep         297.181818
Name: num_user_for_reviews, dtype: float64

In [42]:
Combined.groupby('actor_1_name')[['num_critic_for_reviews','num_user_for_reviews']].mean()

                   num_critic_for_reviews  num_user_for_reviews
actor_1_name
Brad Pitt                      245.000000            742.352941
Leonardo DiCaprio              330.190476            914.476190
Meryl Streep                   181.454545            297.181818

**Checkpoint 6:** `Leonardo DiCaprio` has aced both the lists!